:root {
  --main-BG-color: #e5e5e5;
  --main-text-color: #757575;
  --main-btn-color: #2196f3;
  --second-btn-color: #f5f4fa;
  --hero-btn-color: #188ce8;
  --main-tittle-color: #ffffff;
  --second-tittle-color: #212121;
  --accent: #2196f3;
  --max-margin: 50px;
  --min-margin: 10px;
  --average-margin: 30px;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--main-text-color);
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: 1px solid red;
}

.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.button {
  font-family: inherit;
  font-style: normal;
  cursor: pointer;
}
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-tittle-color);
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/*------------------------- HEADER ---------------------------------------------------------------------------------------------------------------------------------- */
.header {
  padding-top: 24px;
  padding-bottom: 25px;

  border-bottom: 1px solid #ececec;
  background-color: #fff;
}
.header-conteiner {
  display: flex;
  justify-content: space-between;
}
.header-nav {
  display: flex;
  align-items: center;
}
.logo-all {
  margin-right: 93px;
}

.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--accent);
}
.logo-text {
  color: #000000;
}
.logo:hover,
.logo:focus {
  color: var(--accent);
}

.header-list {
  display: flex;
  margin-left: auto;
  align-items: center;
}
.header-item:not(:first-child) {
  margin-left: 50px;
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-tittle-color);
}
.header-link:hover,
.header-link:focus {
  color: var(--accent);
}
.curent {
  color: var(--accent);
}
.header-address {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}
.header-address:hover,
.header-address:focus {
  color: var(--accent);
}
/*------------------------- INDEX HERO ------------------------------------------------------------------------------------------------------------------------------*/
.hero {
  background-color: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin-bottom: var(--average-margin);
  margin-left: auto;
  margin-right: auto;
  max-width: 696px;

  color: var(--main-tittle-color);
}
.hero-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  display: block;
  min-width: 200px;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: auto;
  border: transparent;
  border-radius: 4px;
  color: #ffffff;
  background-color: var(--main-btn-color);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--hero-btn-color);
}

/*------------------------- INDEX ADVANTAGES ------------------------------------------------------------------------------------------------------------------------------*/
.advantages {
  padding-top: 94px;
  padding-bottom: 47px;
}
.advantages-tittle {
}
.advantages-list {
  display: flex;
  justify-content: space-between;
}
.advantages-item {
  width: 270px;
  text-align: left;
}
.advantages-item:not(:first-child) {
  margin-left: var(--max-margin);
}

.advantages-subtittle {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-tittle-color);
  margin-bottom: var(--min-margin);
}
.advantages-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/*------------------------- INDEX JOB ------------------------------------------------------------------------------------------------------------------------------*/
.job {
  padding-top: 47px;
  padding-bottom: 94px;
}
.job-tittle {
  margin-bottom: var(--max-margin);
}
.job-list {
  display: flex;
  margin-left: -30px;
}
.job-item {
  width: calc(100% / 3 - 30px);
  margin-left: var(--average-margin);
}

.job-img {
}
/*------------------------- INDEX TEAM ------------------------------------------------------------------------------------------------------------------------------*/

.team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}
.team-tittle {
  margin-bottom: var(--max-margin);
}
.team-list {
  display: flex;
  justify-content: center;
}

.team-item {
  min-width: 270px;

  background-color: #ffffff;
}
.team-item:not(:first-child) {
  margin-left: var(--average-margin);
}
.team-link {
}
.team-img {
}
.team-subtittle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--second-tittle-color);

  margin-bottom: var(--min-margin);
}
.team-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--main-text-color);
}
.team-container {
  padding-top: 30px;
  padding-bottom: 30px;
}

/*-------------------------  FOOTER ------------------------------------------------------------------------------------------------------------------------------*/
.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-footer {
  color: #ffffff;
  margin-bottom: 20px;
}
.footer-address {
  margin-top: 20px;
}
.footer-list {
}
.footer-item {
  font-family: inherit;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  margin-bottom: 9px;
}
.footer-link {
  color: #ffffff;
}
.footer-contacts {
  color: rgba(255, 255, 255, 0.6);
}

.footer-link:hover,
.footer-link:focus,
.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--accent);
}
/*-------------------------  PORTFOLIO HTML ------------------------------------------------------------------------------------------------------------------------------*/
.works {
  padding-top: 94px;
  padding-bottom: 94px;
}
.works-tittle {
}
.works-list {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}
.works-items {
}

.works-items:not(:first-child) {
  margin-left: 8px;
}
.works-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;

  padding: 6px 22px;
  border-radius: 4px;
  border: transparent;
  color: var(--second-tittle-color);
  background-color: var(--second-btn-color);
}

.works-btn:hover,
.works-btn:focus {
  color: #ffffff;
  background-color: var(--main-btn-color);
}
.works-ul {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.works-item {
  max-width: 370px;
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;

  border-bottom: 1px solid #eeeeee;
  background-color: #eeeeee;
}

.works-item:nth-last-child(-n + 3) {
  margin-top: 0;
}

.works-link {
}
.works-img {
}
.works-info {
  padding: 20px 24px;
}
.works-subtittle {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-tittle-color);
}
.works-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
